<div class="_intro" style="margin-top: 200px;">
    <div class="_intro-message">
        <h2 class="_intro-title">환영합니다!</h2>

        <p>TistoryHelper
        </p>
        <ol class="_intro-list">
            <li>[[blog.title]]</li>
            <li>[[blog.description]]</li>
            <li>글 수: [[blog.statistics.post]]</li>
            <li>댓글 수: [[blog.statistics.comment]]</li>
            <li>방명록 수: [[blog.statistics.guestbook]]</li>
        </ol>
        <p>즐거운 블로깅 하세요!</p>
        <small style="float:right;">by<a href="https://github.com/adunStudio" target="_blank"> AdunStudio</a></small>
    </div>
</div>
