
<div class="_static">

    <h2 class="_lined-heading">Write</h2>

    <div id="write_page">
        <form name="writeForm">
            <div class="col-xs-4" style="padding-left: 0;">
                <div class="form-group">
                    <label for="inputCategory">Category</label><a data-toggle="modal" data-target="#dirModal" href=""><i class="fa fa-plus-square" style="float: right; margin-right: 0.5rem; line-height: inherit;" aria-hidden="true"></i></a>
                    <select ng-model="inputCategory"   id="inputCategory" name="inputCategory"  class="form-control" >
                        <option ng-repeat="(key, value) in categories"  value="[[value.id]]">[[value.name]]</option>
                    </select>

                </div>
            </div>

            <div class="col-xs-8" style="padding-left: 0; width: 63.7%; margin-right: 0; padding-right: 0;">
                <div class="form-group">
                    <label for="inputName">Title</label>
                    <input ng-model="inputTitle" ng-required="true"   ng-maxlength="50" maxlength="50" type="text" id="inputName" class="form-control" placeholder="제목을 적어주세요.">
                </div>
            </div>

            <div id="contents" >
                <textarea class="editormd-markdown-textarea" name="contents-markdown-doc"></textarea>
                <textarea class="editormd-html-textarea" name="contents-html-code"></textarea>
            </div>

            <button ng-click="write($event);" id="write_btn" type="button" class="btn btn-default">Write</button>

        </form>
    </div>
</div>
<!--
<option ng-repeat="(dir, dirValue) in docs" value="[[dir]]">[[dir]]</option>
-->
