._icon-codesafer:before {
    background-position: -9rem -11rem
}
._icon-trash:before {
    background-image: url('/img/trash.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-tistory:before {
    background-image: url('/static/img/tistory.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-adundocs:before {
    background-image: url('/img/logo.png') !important;
    background-size: 20px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-game:before {
    background-image: url('/img/game.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-physics:before {
    background-image: url('/img/physics.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-editormd:before {
    background-image: url('/img/editormd.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-link:before {
    background-image: url('/img/link.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-idea:before {
    background-image: url('/img/idea.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-study:before {
    background-image: url('/img/study.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-algorithm:before {
    background-image: url('/img/algorithm.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-datastructure:before {
    background-image: url('/img/datastructure.png') !important;
    background-size: 20px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._icon-programming:before {
    background-image: url('/img/programming.png') !important;
    background-size: 16px !important;
    background-repeat: no-repeat;
    background-position: center;
}
._splash-title {
    z-index: 10;
}
._list-select {
    position: absolute;
    right: .75rem;
    width: 8rem;
    height: 1.5rem;
    transition: .2s;
    margin-top: 1px;
    line-height: normal;
    font-family: inherit;
    font-size: 100%;
    color: #333;
    background: #EAEAEA;
    border: 1px solid #C7C7C7;
    border-radius: 3px
}

#real {
    position: fixed;
    top: 3.1rem;
    right: 20px;
    margin: 0;
    padding: 0;
    overflow:hidden;
    overflow-y: hidden;
    z-index: 9;
    max-height: 10%;

}
._max-width #real {
    right:345px;
}
._mobile #real {
    display: none;
}
/*#navigation .focus {
    background: #e5e5e5;
    box-shadow: inset -1px 0 #d4d4d4;
}
#navigation .active {
    color: #fff;
    background: #398df0;
    box-shadow: inset -1px 0 #196fc2
}*/


._login {
    position: absolute;
    z-index: 6;
    right: 1px;
    top: 3rem;
}

._mobile ._mobile-nav {
    display: block;
}

._mobile ._path {
    display: none;
}
._mobile #navigation {
    display: none;

}
._mobile ._sidebar-footer {
    z-index: 100;
}



pre {
    padding: 0;
}

._content ._news-row {
    padding-left: 7em !important;
}